html, body {
    scroll-behavior: smooth;
}
body {
    font-family: "Raleway", sans-serif;
  }
  
  #Hero-Section {
    background-image: url(../images/yo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  
  #Portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  nav img {
    width: 160px;
    height: 70px;
  }
  
  .mp-btn {
    background-color: #ffc107;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-color:  #ffc107;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

  }

  .mp-btn:hover {
    background-color: white;
    color: #ffc107;
    border-color:  #ffc107;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
  }