.header h1 {
    margin: 0;
    
}
#eslogan {
    margin: 0;
}
.header {
    height: 10rem;
    color: whitesmoke;
    background-image: url(../images/pavel-ulanovskiy-Q_adc1_Ukc0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
    
    
}
.main {
    background: #1d0f5a;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
    height: 45rem;
    margin: 0;
}
.main h2 {
    height: 1em;
    text-align: center;
    margin: 0;
    padding: 2em 0em 0em 0em;

}
.footer {
    background:#000039;
    color: azure;
    font-size: 0.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
    height:6rem;
    
}
.footer h3 {
    margin: 0;
}
.footer h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;

}

.contenedor1 {
    width: 30em;
    height: 10em;
    margin: auto;
    padding: 2em 0em 0em 0em;
}

.contenedor2 {
    width: 30em;
    height: 10em;
    margin: auto;
    padding: 2em 0em 0em 0em;
    
}

.contenedor3 {
    width: 30em;
    height: 10em;
    margin: auto;
    padding: 2em 0em 0em 0em;

}

.cougar img{
    width: 9em;
    float: left;
   
}
.precio1 p {
    text-align: center;
    width: 50%;
    float: left;
}

.razer img {
    width: 9em;
    float: left;
}
.precio2 p {
    text-align: center;
    width: 50%;
    float: left;
}

.generico img {
    width: 9em;
    float: left;
    
}
.precio3 p {
    text-align: center;
    width: 50%;
    float: left;
}
